.mobile {
  width: 350px;
  flex-direction: column;
}

.textGrande {
  font-size: 48px;
}

@media only screen and (min-width: 768px) {
  .mobile {
    width: 700px;
    background: blue;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile {
    flex-direction: row;
  }
}
